In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
#import libaries
import pandas as pd
import numpy as np

In [3]:
#import csv files 
train_data_path="/kaggle/input/titanic/train.csv"
train_dp= pd.read_csv(train_data_path, index_col=None)
test_data_path="/kaggle/input/titanic/test.csv"
test_dp=pd.read_csv(test_data_path, index_col=None)
train_dp['isTrain'] = True
test_dp['isTrain'] = False
y_test_path = "/kaggle/input/titanic/gender_submission.csv"
y_testdf=pd.read_csv(y_test_path,index_col = None)

In [4]:
y_testdf=y_testdf.drop(['PassengerId'],axis=1)

In [5]:
#coverting gender_submission.csv into an array

result=[]
#for col in y_testdf.columns:
   # value = y_testdf[col].to_numpy()
    #result.append(value)
    
result= y_testdf.to_numpy()

In [6]:
#concating the train and test datasets
dp=pd.concat([train_dp,test_dp])

In [7]:
#modify the datasets
dp= dp.drop(['Name','Ticket'], axis=1)
dp

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,isTrain
0,1,0.0,3,male,22.0,1,0,7.2500,NaN,S,True
1,2,1.0,1,female,38.0,1,0,71.2833,C85,C,True
2,3,1.0,3,female,26.0,0,0,7.9250,NaN,S,True
3,4,1.0,1,female,35.0,1,0,53.1000,C123,S,True
4,5,0.0,3,male,35.0,0,0,8.0500,NaN,S,True
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,male,NaN,0,0,8.0500,NaN,S,False
414,1306,NaN,1,female,39.0,0,0,108.9000,C105,C,False
415,1307,NaN,3,male,38.5,0,0,7.2500,NaN,S,False
416,1308,NaN,3,male,NaN,0,0,8.0500,NaN,S,False
417,1309,NaN,3,male,NaN,1,1,22.3583,NaN,C,False

In [8]:
#Checking the number of null items in each columns
dp.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Sex               0
Age             263
SibSp             0
Parch             0
Fare              1
Cabin          1014
Embarked          2
isTrain           0
dtype: int64

In [9]:
#features columns
features = ['PassengerId', 'Pclass','Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked' ]

In [10]:
#Removed nulls values form each features columns
dp['Age'].fillna(dp['Age'].mean(), inplace = True)
dp['Fare'].fillna(dp['Fare'].mean(), inplace = True)
dp['Embarked'].fillna('S', inplace=True)
dp['Embarked'] = dp['Embarked'].map({
    'C' : 0,
    'Q' : 1,
    'S' : 2
})
dp['Sex'] = dp['Sex'].map({
    'male' : 0,
    'female' : 1
})
dp['isTrain'] = dp['isTrain'].map({
    False : 0,
    True : 1
})
dp['Embarked'].fillna(0)
dp

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,isTrain
0,1,0.0,3,0,22.000000,1,0,7.2500,NaN,2,1
1,2,1.0,1,1,38.000000,1,0,71.2833,C85,0,1
2,3,1.0,3,1,26.000000,0,0,7.9250,NaN,2,1
3,4,1.0,1,1,35.000000,1,0,53.1000,C123,2,1
4,5,0.0,3,0,35.000000,0,0,8.0500,NaN,2,1
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,0,29.881138,0,0,8.0500,NaN,2,0
414,1306,NaN,1,1,39.000000,0,0,108.9000,C105,0,0
415,1307,NaN,3,0,38.500000,0,0,7.2500,NaN,2,0
416,1308,NaN,3,0,29.881138,0,0,8.0500,NaN,2,0
417,1309,NaN,3,0,29.881138,1,1,22.3583,NaN,0,0

In [11]:
#split the dataset into train and test datasets 
train= dp.loc[dp["isTrain"]==1, :].copy()
test= dp.loc[dp["isTrain"]==0, :].copy()
x_train=train[features]
x_test =test[features]
y_train=train['Survived']
#check for more null items in features columns of x_rain set
x_train.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [12]:
#check for more null items in features columns of x_test set
x_test.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [13]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=20, 
                               max_depth=6,
                               random_state=123)
model.fit(x_train, y_train)

RandomForestClassifier(max_depth=6, n_estimators=20, random_state=123)

In [14]:
#predict Survived for x_test dataset
y_pred = model.predict(x_test)
y_pred

array([0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0.,
       0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 0.,
       0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0.,
       0., 1., 1., 0., 1., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0.,
       0., 1., 1., 1., 1., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0.,
       1., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       1., 0., 0., 1., 1., 0., 1., 1., 1., 1., 0., 0., 0., 0., 0., 1., 1.,
       0., 0., 0., 0., 0., 1., 1., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1.,
       0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
       0., 1., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1.,
       0., 0., 1., 0., 1., 1., 0., 1., 1., 0., 1., 1., 0., 0., 1., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.,
       1., 1., 1., 1., 1., 0., 1., 0., 0., 0.])

In [15]:
from sklearn.metrics import accuracy_score

print('Model accuracy score : ')
print(accuracy_score(result, y_pred))

Model accuracy score :
0.9569377990430622

In [16]:
#Submission
Submission = pd.DataFrame({ 'PassengerId': x_test['PassengerId'],
                            'Survived': y_pred })
Submission.to_csv("Submission.csv", index=False)